.articles {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 27px 31px;
    border: 1px solid var(--gray);
    overflow: hidden;
}

.articles__heading {
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
}

.articles::after {
    position: absolute;
    top: -1px;
    right: 50px;
    content: url("../../img/articles/articles-arrow.svg");
}

.underline {
    position: relative;
}

.underline::after {
    position: absolute;
    bottom: -2px;
    left: 2px;
    width: 105%;
    height: 1px;
    background: var(--gray);
    content: "";
}

.articles__list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.articles__item {
    padding: 5px 0 12px;
    border-top: 1px solid var(--gray);
}

.articles__item:last-child {
    padding-bottom: 0;
}

.article__link {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.article__link:hover .article__title {
    color: var(--blue-hover);
}

.article__title {
    font-size: 17px;
    line-height: 26px;
    color: var(--blue);
    transition: var(--transition);
}

.article__img {
    margin: 4px 0 0 16px;
}

.article__img img {
    width: 90px;
    height: 48px;
    object-fit: cover;
}

@media (max-width: 1023px) {
    .articles__heading {
        font-size: 19px;
        line-height: 28px;
    }

    .articles::after {
        top: -2px;
        right: 40px;
    }
}

@media (max-width: 767px) {
    .articles {
        padding: 20px 16px 24px;
    }

    .articles::after {
        top: -10px;
        right: -90px;
    }

    .article__img--hidden-mobile {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .underline::after {
        width: 100%;
    }
}

@media (max-width: 489px) {
    .articles__heading {
        max-width: 200px;
    }
}